<footer class="container text-center">
    <div class="row">
        <div class="col">
            © 2023 Copyright: <a href="https://www.Teredev.com.ar">Teredev.com.ar</a>
        </div>
        <div class="col">
            Asistencia tecnica: support@teredev.com.ar
        </div>
        <div class="col">
           Para gestionar su edificio con Expensas Express, comunicarse con sales@teredev.com.ar
        </div>
    </div>
</footer>